html {
    height: 100%;
}
body {
    height: 100%;
    background: #000000;
    color: #00ff00;
    font-family: Consolas, monospace;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

table {
    border-collapse: collapse;
}
th, td {
    padding: 2px 10px;
    width: 100px;
}
tr:first-child {
    border-bottom: 3px solid #00ff00;
}
tr:not(:last-child) {
    border-bottom: 1px solid #00c000;
}

#bottom {
    position: absolute;
    bottom: 0;

    width: calc(100% - 20px);
    height: 300px;

    -webkit-mask: linear-gradient(to top, #000000, #00000000);
    mask: linear-gradient(to top, #000000, #00000000);
}
#log {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 500px;
    overflow: auto;
}
#log::-webkit-scrollbar {
    opacity: 0.1;
}